<!--<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.displayName }}!</h1>-->

<!--</ul>-->
<router-outlet></router-outlet>


<!--<div *ngIf="auth.user | async; then authenticated else guest">-->
  <!--&lt;!&ndash; template will replace this div &ndash;&gt;-->
<!--</div>-->

<!--<ng-template #notAuthenticated>-->
  <!--<h3>Howdy, GUEST</h3>-->
  <!--<p>Login to get started...</p>-->

  <!--<button (click)="auth.googleLogin()">-->
    <!--<i class="fa fa-google"></i> Connect Google-->
  <!--</button>-->
<!--</ng-template>-->

<!--<ng-template #authenticated>-->
  <!--<app-home></app-home>-->
<!--</ng-template>-->






